In [1]:
import numpy as np
import pandas as pd
import utils

In [2]:
# load echonest data using the utils.py file from the FMA GitHub repository

echonest = utils.load('fma-master/data/fma_metadata/echonest.csv')
echonest.head()

               echonest                                                    \
         audio_features
           acousticness danceability    energy instrumentalness  liveness
track_id
2              0.416675     0.675894  0.634476         0.010628  0.177647
3              0.374408     0.528643  0.817461         0.001851  0.105880
5              0.043567     0.745566  0.701470         0.000697  0.373143
10             0.951670     0.658179  0.924525         0.965427  0.115474
134            0.452217     0.513238  0.560410         0.019443  0.096567

                                                                        \
                                           metadata
         speechiness    tempo   valence  album_date         album_name
track_id
2           0.159310  165.922  0.576661         NaN                NaN
3           0.461818  126.957  0.269240         NaN                NaN
5           0.124595  100.260  0.621661         NaN                NaN
10          0.032985  111.562  0.963590  2008-03-11  Constant Hitmaker
134         0.525519  114.290  0.894072         NaN                NaN

             ...                                                       \
             ...     temporal_features
             ...                   214        215       216       217
track_id     ...
2            ...             -1.992303   6.805694  0.233070  0.192880
3            ...             -1.582331   8.889308  0.258464  0.220905
5            ...             -2.288358  11.527109  0.256821  0.237820
10           ...             -3.662988  21.508228  0.283352  0.267070
134          ...             -1.452696   2.356398  0.234686  0.199550



               218      219       220       221        222         223
track_id
2         0.027455  0.06408   3.67696   3.61288  13.316690  262.929749
3         0.081368  0.06413   6.08277   6.01864  16.673548  325.581085
5         0.060122  0.06014   5.92649   5.86635  16.013849  356.755737
10        0.125704  0.08082   8.41401   8.33319  21.317064  483.403809
134       0.149332  0.06440  11.26707  11.20267  26.454180  751.147705

[5 rows x 249 columns]

In [3]:
echonest.columns

MultiIndex(levels=[['echonest'], ['audio_features', 'metadata', 'ranks', 'social_features', 'temporal_features'], ['000', '001', '002', '003', '004', '005', '006', '007', '008', '009', '010', '011', '012', '013', '014', '015', '016', '017', '018', '019', '020', '021', '022', '023', '024', '025', '026', '027', '028', '029', '030', '031', '032', '033', '034', '035', '036', '037', '038', '039', '040', '041', '042', '043', '044', '045', '046', '047', '048', '049', '050', '051', '052', '053', '054', '055', '056', '057', '058', '059', '060', '061', '062', '063', '064', '065', '066', '067', '068', '069', '070', '071', '072', '073', '074', '075', '076', '077', '078', '079', '080', '081', '082', '083', '084', '085', '086', '087', '088', '089', '090', '091', '092', '093', '094', '095', '096', '097', '098', '099', '100', '101', '102', '103', '104', '105', '106', '107', '108', '109', '110', '111', '112', '113', '114', '115', '116', '117', '118', '119', '120', '121', '122', '123', '124', '125', '126', '127', '128', '129', '130', '131', '132', '133', '134', '135', '136', '137', '138', '139', '140', '141', '142', '143', '144', '145', '146', '147', '148', '149', '150', '151', '152', '153', '154', '155', '156', '157', '158', '159', '160', '161', '162', '163', '164', '165', '166', '167', '168', '169', '170', '171', '172', '173', '174', '175', '176', '177', '178', '179', '180', '181', '182', '183', '184', '185', '186', '187', '188', '189', '190', '191', '192', '193', '194', '195', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '206', '207', '208', '209', '210', '211', '212', '213', '214', '215', '216', '217', '218', '219', '220', '221', '222', '223', 'acousticness', 'album_date', 'album_name', 'artist_discovery', 'artist_discovery_rank', 'artist_familiarity', 'artist_familiarity_rank', 'artist_hotttnesss', 'artist_hotttnesss_rank', 'artist_latitude', 'artist_location', 'artist_longitude', 'artist_name', 'danceability', 'energy', 'instrumentalness', 'liveness', 'release', 'song_currency', 'song_currency_rank', 'song_hotttnesss', 'song_hotttnesss_rank', 'speechiness', 'tempo', 'valence']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4], [224, 237, 238, 239, 240, 246, 247, 248, 225, 226, 233, 234, 235, 236, 241, 228, 230, 232, 243, 245, 227, 229, 231, 242, 244, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223]])

In [4]:
# drop the top level of columns to gain access to the track audio features

echonest.columns = echonest.columns.droplevel()
audio_features = echonest['audio_features']
audio_features.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
track_id,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072

In [5]:
# save audio features to a csv file for analysis

audio_features.to_csv('audio_features.csv')

In [6]:
# make sure the export worked

audio_features = pd.read_csv('audio_features.csv', index_col='track_id')
audio_features.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence
track_id,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072

In [7]:
# load all track data using utils.py

all_tracks = utils.load('fma-master/data/fma_metadata/tracks.csv')
all_tracks.head()

/Users/richa/Documents/Royal Holloway/Dissertation Project/utils.py:214: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  'category', categories=SUBSETS, ordered=True)

            album                                                          \
         comments        date_created date_released engineer favorites id
track_id
2               0 2008-11-26 01:44:45    2009-01-05      NaN         4  1
3               0 2008-11-26 01:44:45    2009-01-05      NaN         4  1
5               0 2008-11-26 01:44:45    2009-01-05      NaN         4  1
10              0 2008-11-26 01:45:08    2008-02-06      NaN         4  6
20              0 2008-11-26 01:45:05    2009-01-06      NaN         2  4

                                                                           \
                                        information listens producer tags
track_id
2                                           <p></p>    6073      NaN   []
3                                           <p></p>    6073      NaN   []
5                                           <p></p>    6073      NaN   []
10                                              NaN   47632      NaN   []
20        <p> "spiritual songs" from Nicky Cook</p>    2710      NaN   []

               ...              track                         \
               ...        information interest language_code
track_id       ...
2              ...                NaN     4656            en
3              ...                NaN     1470            en
5              ...                NaN     1933            en
10             ...                NaN    54881            en
20             ...                NaN      978            en

                                                                              \
                                                    license listens lyricist
track_id
2         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1293      NaN
3         Attribution-NonCommercial-ShareAlike 3.0 Inter...     514      NaN
5         Attribution-NonCommercial-ShareAlike 3.0 Inter...    1151      NaN
10        Attribution-NonCommercial-NoDerivatives (aka M...   50135      NaN
20        Attribution-NonCommercial-NoDerivatives (aka M...     361      NaN


         number publisher tags            title
track_id
2             3       NaN   []             Food
3             4       NaN   []     Electric Ave
5             6       NaN   []       This World
10            1       NaN   []          Freeway
20            3       NaN   []  Spiritual Level

[5 rows x 52 columns]

In [8]:
all_tracks.columns

MultiIndex(levels=[['album', 'artist', 'set', 'track'], ['active_year_begin', 'active_year_end', 'associated_labels', 'bio', 'bit_rate', 'comments', 'composer', 'date_created', 'date_recorded', 'date_released', 'duration', 'engineer', 'favorites', 'genre_top', 'genres', 'genres_all', 'id', 'information', 'interest', 'language_code', 'latitude', 'license', 'listens', 'location', 'longitude', 'lyricist', 'members', 'name', 'number', 'producer', 'publisher', 'related_projects', 'split', 'subset', 'tags', 'title', 'tracks', 'type', 'website', 'wikipedia_page']],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3], [5, 7, 9, 11, 12, 16, 17, 22, 29, 34, 35, 36, 37, 0, 1, 2, 3, 5, 7, 12, 16, 20, 23, 24, 26, 27, 31, 34, 38, 39, 32, 33, 4, 5, 6, 7, 8, 10, 12, 13, 14, 15, 17, 18, 19, 21, 22, 25, 28, 30, 34, 35]])

In [9]:
# drop the top level of tracks to gain access to the genre columns

all_tracks.columns = all_tracks.columns.droplevel()
track_genres = all_tracks[['genre_top', 'genres', 'genres_all']].copy()
track_genres.head()

         genre_top     genres         genres_all
track_id
2          Hip-Hop       [21]               [21]
3          Hip-Hop       [21]               [21]
5          Hip-Hop       [21]               [21]
10             Pop       [10]               [10]
20             NaN  [76, 103]  [17, 10, 76, 103]

In [10]:
# load genre data using utils.py

genres = utils.load('fma-master/data/fma_metadata/genres.csv')
genres.head()

          #tracks  parent          title  top_level
genre_id
1            8693      38    Avant-Garde         38
2            5271       0  International          2
3            1752       0          Blues          3
4            4126       0           Jazz          4
5            4106       0      Classical          5

In [11]:
# select only the tracks that have corresponding audio features, as those are the only ones I can use in my analysis

echonest_tracks = track_genres.loc[track_genres.index.isin(audio_features.index.values)]
echonest_tracks.head()

         genre_top genres genres_all
track_id
2          Hip-Hop   [21]       [21]
3          Hip-Hop   [21]       [21]
5          Hip-Hop   [21]       [21]
10             Pop   [10]       [10]
134        Hip-Hop   [21]       [21]

In [12]:
# take a look at the size of the dataset

echonest_tracks.shape

(13129, 3)

In [13]:
# check if there are any missing top genres

echonest_tracks['genre_top'].isnull().values.any()

True

In [14]:
# separate the tracks that have missing genres

missing_genre = echonest_tracks[echonest_tracks.isna().any(axis=1)]
missing_genre.head()

         genre_top    genres   genres_all
track_id
236            NaN  [15, 92]  [2, 92, 15]
461            NaN   [3, 37]   [3, 4, 37]
462            NaN   [3, 37]   [3, 4, 37]
463            NaN   [3, 37]   [3, 4, 37]
464            NaN   [3, 37]   [3, 4, 37]

In [15]:
len(missing_genre)

3774

In [16]:
# create a genre dictionary to match the genres

genre_dict = dict(zip(genres.index, genres.title))
genre_dict

{1: 'Avant-Garde',
 2: 'International',
 3: 'Blues',
 4: 'Jazz',
 5: 'Classical',
 6: 'Novelty',
 7: 'Comedy',
 8: 'Old-Time / Historic',
 9: 'Country',
 10: 'Pop',
 11: 'Disco',
 12: 'Rock',
 13: 'Easy Listening',
 14: 'Soul-RnB',
 15: 'Electronic',
 16: 'Sound Effects',
 17: 'Folk',
 18: 'Soundtrack',
 19: 'Funk',
 20: 'Spoken',
 21: 'Hip-Hop',
 22: 'Audio Collage',
 25: 'Punk',
 26: 'Post-Rock',
 27: 'Lo-Fi',
 30: 'Field Recordings',
 31: 'Metal',
 32: 'Noise',
 33: 'Psych-Folk',
 36: 'Krautrock',
 37: 'Jazz: Vocal',
 38: 'Experimental',
 41: 'Electroacoustic',
 42: 'Ambient Electronic',
 43: 'Radio Art',
 45: 'Loud-Rock',
 46: 'Latin America',
 47: 'Drone',
 49: 'Free-Folk',
 53: 'Noise-Rock',
 58: 'Psych-Rock',
 63: 'Bluegrass',
 64: 'Electro-Punk',
 65: 'Radio',
 66: 'Indie-Rock',
 70: 'Industrial',
 71: 'No Wave',
 74: 'Free-Jazz',
 76: 'Experimental Pop',
 77: 'French',
 79: 'Reggae - Dub',
 81: 'Afrobeat',
 83: 'Nerdcore',
 85: 'Garage',
 86: 'Indian',
 88: 'New Wave',
 89: 'Post-Punk',
 90: 'Sludge',
 92: 'African',
 94: 'Freak-Folk',
 97: 'Jazz: Out',
 98: 'Progressive',
 100: 'Alternative Hip-Hop',
 101: 'Death-Metal',
 102: 'Middle East',
 103: 'Singer-Songwriter',
 107: 'Ambient',
 109: 'Hardcore',
 111: 'Power-Pop',
 113: 'Space-Rock',
 117: 'Polka',
 118: 'Balkan',
 125: 'Unclassifiable',
 130: 'Europe',
 137: 'Americana',
 138: 'Spoken Weird',
 166: 'Interview',
 167: 'Black-Metal',
 169: 'Rockabilly',
 170: 'Easy Listening: Vocal',
 171: 'Brazilian',
 172: 'Asia-Far East',
 173: 'N. Indian Traditional',
 174: 'South Indian Traditional',
 175: 'Bollywood',
 176: 'Pacific',
 177: 'Celtic',
 178: 'Be-Bop',
 179: 'Big Band/Swing',
 180: 'British Folk',
 181: 'Techno',
 182: 'House',
 183: 'Glitch',
 184: 'Minimal Electronic',
 185: 'Breakcore - Hard',
 186: 'Sound Poetry',
 187: '20th Century Classical',
 188: 'Poetry',
 189: 'Talk Radio',
 214: 'North African',
 224: 'Sound Collage',
 232: 'Flamenco',
 236: 'IDM',
 240: 'Chiptune',
 247: 'Musique Concrete',
 250: 'Improv',
 267: 'New Age',
 286: 'Trip-Hop',
 296: 'Dance',
 297: 'Chip Music',
 311: 'Lounge',
 314: 'Goth',
 322: 'Composed Music',
 337: 'Drum & Bass',
 359: 'Shoegaze',
 360: 'Kid-Friendly',
 361: 'Thrash',
 362: 'Synth Pop',
 374: 'Banter',
 377: 'Deep Funk',
 378: 'Spoken Word',
 400: 'Chill-out',
 401: 'Bigbeat',
 404: 'Surf',
 428: 'Radio Theater',
 439: 'Grindcore',
 440: 'Rock Opera',
 441: 'Opera',
 442: 'Chamber Music',
 443: 'Choral Music',
 444: 'Symphony',
 456: 'Minimalism',
 465: 'Musical Theater',
 468: 'Dubstep',
 491: 'Skweee',
 493: 'Western Swing',
 495: 'Downtempo',
 502: 'Cumbia',
 504: 'Latin',
 514: 'Sound Art',
 524: 'Romany (Gypsy)',
 538: 'Compilation',
 539: 'Rap',
 542: 'Breakbeat',
 567: 'Gospel',
 580: 'Abstract Hip-Hop',
 602: 'Reggae - Dancehall',
 619: 'Spanish',
 651: 'Country & Western',
 659: 'Contemporary Classical',
 693: 'Wonky',
 695: 'Jungle',
 741: 'Klezmer',
 763: 'Holiday',
 808: 'Salsa',
 810: 'Nu-Jazz',
 811: 'Hip-Hop Beats',
 906: 'Modern Jazz',
 1032: 'Turkish',
 1060: 'Tango',
 1156: 'Fado',
 1193: 'Christmas',
 1235: 'Instrumental'}

In [17]:
# create a list of genre ids for each track

missing_list = missing_genre.genres.tolist()
missing_list[:10]

[[15, 92],
 [3, 37],
 [3, 37],
 [3, 37],
 [3, 37],
 [3, 37],
 [2, 8],
 [10, 12, 25],
 [10, 12, 25],
 [5, 15]]

In [18]:
# replace genre ids with genre titles using the dictionary

for lst in missing_list:
    for x, item in enumerate(lst):
        lst[x] = genre_dict.get(item, item)
missing_list[:10]

# source: https://codereview.stackexchange.com/questions/79891/iterate-over-large-list-of-lists-and-replace-its-elements
# full reference in bibliography

[['Electronic', 'African'],
 ['Blues', 'Jazz: Vocal'],
 ['Blues', 'Jazz: Vocal'],
 ['Blues', 'Jazz: Vocal'],
 ['Blues', 'Jazz: Vocal'],
 ['Blues', 'Jazz: Vocal'],
 ['International', 'Old-Time / Historic'],
 ['Pop', 'Rock', 'Punk'],
 ['Pop', 'Rock', 'Punk'],
 ['Classical', 'Electronic']]

In [19]:
# use only the first genre in each list, as I assume that to be the primary genre

missing_lst = [x[0] for x in missing_list]
missing_lst[:10]

['Electronic',
 'Blues',
 'Blues',
 'Blues',
 'Blues',
 'Blues',
 'International',
 'Pop',
 'Pop',
 'Classical']

In [20]:
# create a dataframe of track ids and new genre labels

track_id = list(missing_genre.index)
missing = pd.DataFrame(missing_lst, index = track_id, columns = ['genre_top'])
missing.head()

      genre_top
236  Electronic
461       Blues
462       Blues
463       Blues
464       Blues

In [21]:
# add genre columns

missing['genres'] = missing_genre['genres']
missing['genres_all'] = missing_genre['genres_all']
missing.head()

      genre_top                 genres   genres_all
236  Electronic  [Electronic, African]  [2, 92, 15]
461       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
462       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
463       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
464       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]

In [22]:
# merge missing data with echonest tracks

merging = pd.concat([missing, echonest_tracks])
merging.head()

      genre_top                 genres   genres_all
236  Electronic  [Electronic, African]  [2, 92, 15]
461       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
462       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
463       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]
464       Blues   [Blues, Jazz: Vocal]   [3, 4, 37]

In [23]:
merging = merging.dropna()

In [24]:
len(merging)

13129

In [25]:
# check again to see if there are any missing genres

merging['genre_top'].isnull().values.any()

False

In [26]:
# merge genre data with audio features

merged = audio_features.join(merging)
merged.head()

,acousticness,danceability,energy,instrumentalness,liveness,speechiness,tempo,valence,genre_top,genres,genres_all
track_id,,,,,,,,,,,
2,0.416675,0.675894,0.634476,0.010628,0.177647,0.159310,165.922,0.576661,Hip-Hop,[21],[21]
3,0.374408,0.528643,0.817461,0.001851,0.105880,0.461818,126.957,0.269240,Hip-Hop,[21],[21]
5,0.043567,0.745566,0.701470,0.000697,0.373143,0.124595,100.260,0.621661,Hip-Hop,[21],[21]
10,0.951670,0.658179,0.924525,0.965427,0.115474,0.032985,111.562,0.963590,Pop,[10],[10]
134,0.452217,0.513238,0.560410,0.019443,0.096567,0.525519,114.290,0.894072,Hip-Hop,[21],[21]

In [27]:
# save merged tracks to a csv file for analysis

merged.to_csv('merged.csv')